form {
    text-align: center;
}

.form-group {
    margin-top: 20px;
}

form p {
    color: $danger;
}

.validated {
    color: $success;
    font-size: 20px;
    display: none;
}

@media only screen and (min-width: 600px) {}