h1 {
    font-family: $heading-stack;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: $text-light;
}

h2,
h3 {
    font-family: $heading-stack;
    font-size: 18px;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 30px;
    }
    h2,
    h3 {
        font-size: 25px;
    }
}